@media (max-width: 1024px) {
}

@media (max-width: 786px) {
  .sectionFirst .frontPage .btn {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .sectionFirst .frontPage {
    max-width: 90%;
  }
}

@media (max-width: 425px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sectionFirst {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    flex-direction: column;
    gap: 40px;
  }

  .img-doing-lashes {
    max-width: 98%;
  }
}
